<p>This is a dummy show page used for our Day 2 Challenge, User Story 4.  This is necessary because the functionality was never added to this respository to be able to create a Viewing Party.</p>

<%= link_to "Create Viewing Party", "/movies/dummy_create_party" %>